/*Variables */
$primary = #009688
$d-primary = #00796b
$l-primary = rgb(178, 223, 219)
$text-primary = #212121
$accent = #00bcd4
$text-secondary = #757575



body   
    margin-top 60px
    background $d-primary 
h1, 
h2, 
h3, 
p
    color $text-primary

#wrap  /* allows page content to push down footer */
    min-height 100%
    height auto
    margin 0 auto -60px /* negative indent footer according to it's height */
    padding 0 0 60px /* padding bottom according to footer height */
.container 
        padding-top 60px
.jumbotron
    background $l-primary
h2  
    text-align: center
h3 
    padding 10px 0px;
.row
    margin-bottom 60px
#profile  
        width 200px
.sidebar-navbar-fixed
#social
    background $l-primary
    img
        width 100px 
#footer
    height 60px
    background-color $l-primary
.text-muted
        text-align center
.carousel-caption
    background rgb(178, 223, 219, 0.1)
    width 50% !important
    margin auto
.carousel img 
    width 50%
    margin auto
.center-block
    float none
.col-md-12
    width 100%
hr  
    max-width 10%
    border-width 3px
    border-color $accent
.center-block.img-rounded
    width 30%
    border-radius 50%
#social 
    display flex 
    justify-content center
    a  
        padding 20px
.portfolio-row
    background $primary
.prof-pic
    margin-bottom 20px
    width 200px
    border-radius 30px
.contact-comment
    font-size 36px
.em
    margin-left 10px

:placeholder-shown
    height 80px
    font-size 30px
::placeholder
    font-size 30px
input[type="text"] /* Styles for keeping font-size + height the same when user inputs types into form. */
    font-size 30px 
    height 80px
textarea[type="text"] /* Styles for keeping font-size + height the same when user inputs types into form. */
    font-size 30px 
    height 80px
button[type="submit"]
    font-size 30px 
    margin-top: 10px;
html
    body
        height 100%
        width 100%


    
       


