body    
    margin-top 60px
    > .container 
        padding-top 60px
    #profile  
        width 200px
    .sidebar-navbar-fixed
    #social
        img
            width 64px
            height 64px      
    #footer  
        bottom 0
        width 100%
        position absolute
        height 100px
        margin 20px 0;
        background teal  
        .footer-block
            text-align center
            padding 40px 0;
    .carousel 
        .item
            min-height: 280px  /* Prevents carousel from being distorted if for some reason image doesn't load */
            img
                margin: 0 auto; /* Align slide image horizontally center */
    
    #port-carousel
        margin 20px
         
    
       


